/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: ProximaNova;
  font-weight: normal;
  font-style: normal;
  src: url("fonts/ProximaNova/ProximaNova-Regular.eot");
  src: url("fonts/ProximaNova/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/ProximaNova/ProximaNova-Regular.woff2") format("woff2"), url("fonts/ProximaNova/ProximaNova-Regular.woff") format("woff"), url("fonts/ProximaNova/ProximaNova-Regular.ttf") format("truetype"), url("fonts/ProximaNova/ProximaNova-Regular.svg#ProximaNova") format("svg"); }

@font-face {
  font-family: ProximaNova;
  font-weight: 700;
  font-style: normal;
  src: url("fonts/ProximaNova/ProximaNova-Bold.eot");
  src: url("fonts/ProximaNova/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/ProximaNova/ProximaNova-Bold.woff2") format("woff2"), url("fonts/ProximaNova/ProximaNova-Bold.woff") format("woff"), url("fonts/ProximaNova/ProximaNova-Bold.ttf") format("truetype"), url("fonts/ProximaNova/ProximaNova-Bold.svg#ProximaNova") format("svg"); }

* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  transition: all .3s ease-in-out; }

.container {
  max-width: 1200px; }

img {
  max-width: 100%;
  height: auto; }

html {
  height: 100%; }

body, html {
  min-height: 100%;
  width: 100%;
  font: 300 20px "PT Sans", sans-serif;
  color: #665f60; }
  @media (max-width: 720px) {
    body, html {
      font-size: 12px; } }

.clear::after, .clear::before {
  content: " ";
  display: table; }

.clear::after {
  clear: both; }

.subtitle {
  font: 300 36px "ProximaNova", sans-serif;
  color: #fefefb;
  text-transform: uppercase; }
  @media (max-width: 720px) {
    .subtitle {
      font-size: 18px; } }
  .subtitle--grey {
    color: #665f60; }

.button {
  display: inline-block;
  margin: 0 auto;
  line-height: 50px;
  text-decoration: none;
  color: #665f60;
  border: 1px solid #665f60;
  padding: 0 50px;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  transition-property: color;
  transition-duration: 0.3s; }
  .button:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #9f9acf;
    transform: scale(0);
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-out; }
  .button:hover {
    text-decoration: none;
    color: #665f60;
    border-color: #665f60; }
  .button:hover:before {
    transform: scale(1); }

.bold {
  font-weight: 700; }

.italic {
  font-style: italic; }

.white {
  color: #fefefb;
  border-color: #fefefb; }

.grey {
  background: #dbdbdb; }

.map {
  height: 900px; }
  @media (max-width: 1024px) {
    .map {
      height: 750px; } }
  @media (max-width: 720px) {
    .map {
      height: 600px; } }

#go-top {
  position: fixed;
  right: 130px;
  bottom: 230px;
  z-index: 3;
  padding: 25px 22px;
  background: rgba(159, 154, 207, 0.5);
  display: none;
  cursor: pointer; }
  @media (max-width: 1024px) {
    #go-top {
      right: 20px;
      bottom: 20px; } }

.header {
  width: 100%;
  height: 100vh;
  background: url(../images/background/header-bg.jpg) no-repeat top center;
  background-size: cover;
  padding-top: 35px;
  color: #fefefb; }
  .header-menu__items {
    display: flex;
    justify-content: space-between; }
    @media (max-width: 1024px) {
      .header-menu__items {
        justify-content: space-around; } }
    @media (max-width: 540px) {
      .header-menu__items {
        position: fixed;
        top: 0;
        right: 0;
        flex-direction: column;
        align-items: flex-end;
        background: rgba(255, 255, 255, 0.8);
        padding: 10px;
        border-radius: 3px;
        display: none;
        z-index: 3; } }
  @media (max-width: 540px) {
    .header-menu__item {
      width: 100%;
      border-bottom: 1px solid #665f60;
      text-align: center; }
      .header-menu__item:last-of-type {
        border-bottom: none; } }
  .header-menu__link {
    font: 300 24px/60px "ProximaNova", sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    color: #fefefb;
    transition: none; }
    @media (max-width: 540px) {
      .header-menu__link {
        color: #665f60; } }
    .header-menu__link:hover {
      color: #fefefb;
      text-decoration: none;
      border-bottom: 2px solid #fefefb; }
  .header-wrapper {
    margin-top: 300px;
    text-align: center; }
    @media (max-width: 1024px) {
      .header-wrapper {
        margin-top: 200px; } }
    @media (max-width: 720px) {
      .header-wrapper {
        margin-top: 50px; } }
  .header-title {
    font: 700 72px "ProximaNova", sans-serif;
    text-transform: uppercase; }
    @media (max-width: 720px) {
      .header-title {
        font-size: 45px; } }
  .header-text {
    font: 300 30px "PT Sans", sans-serif;
    font-style: italic; }
    @media (max-width: 720px) {
      .header-text {
        font-size: 20px;
        margin-top: 20px; } }
  .header__burger {
    display: none;
    width: 30px;
    height: 2px;
    position: fixed;
    top: 65px;
    right: 30px;
    background: #fefefb;
    z-index: 3; }
    .header__burger::before, .header__burger::after {
      width: 30px;
      height: 2px;
      position: absolute;
      content: "";
      background: #fefefb; }
    .header__burger::before {
      top: -9px; }
    .header__burger::after {
      bottom: -9px; }
    @media (max-width: 720px) {
      .header__burger {
        display: inline-block; } }

.logo {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transition-duration: 0.3s; }
  @media (max-width: 768px) {
    .logo {
      display: block;
      text-align: center; } }
  .logo img {
    transform: translateZ(0);
    transition-duration: 0.3s;
    transition-property: transform;
    transition-timing-function: ease-out; }
  .logo:hover {
    transform: scale(1.5);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36); }

.about {
  background-color: #ebebeb;
  padding-top: 125px;
  text-align: center; }
  @media (max-width: 768px) {
    .about {
      padding-top: 0; } }
  .about_profile-wrapper {
    background: url(../images/background/profile-bg.jpg) no-repeat top center;
    background-size: cover;
    padding: 75px 0 300px;
    text-align: center; }
    @media (max-width: 768px) {
      .about_profile-wrapper {
        padding: 35px;
        margin-bottom: 35px; } }
  .about-icon {
    margin: 0 0 45px; }
  .about_text-wrapper {
    text-align: left;
    margin-bottom: 100px; }
  .about-text {
    margin-bottom: 30px; }

.services {
  background-color: #ebebeb;
  padding-top: 125px; }
  @media (max-width: 768px) {
    .services {
      padding-top: 25px; } }
  .services-wrapper {
    width: 100%;
    height: 100%;
    background: url(../images/background/services-bg.jpg) no-repeat top center;
    background-size: cover;
    text-align: center;
    padding: 115px 30px 0; }
    @media (max-width: 768px) {
      .services-wrapper {
        padding-top: 35px; } }
    .services-wrapper .subtitle {
      margin: 35px 0 100px; }
      @media (max-width: 768px) {
        .services-wrapper .subtitle {
          margin-bottom: 35px; } }
    .services-wrapper p {
      margin-bottom: 30px; }
  .services-list {
    display: flex;
    flex-wrap: wrap; }
    .services-list_item {
      width: 50%;
      height: 25%;
      border: none;
      box-sizing: border-box; }
      @media (max-width: 720px) {
        .services-list_item {
          width: 100%; } }
  .services-link {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 100px 0 130px;
    text-align: center;
    text-decoration: none;
    color: #665f60;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    position: relative;
    transition-property: color;
    transition-duration: 0.3s; }
    @media (max-width: 720px) {
      .services-link {
        padding: 50px 0; } }
    .services-link_title {
      font: 700 24px "PT Sans", sans-serif;
      margin: 30px 0 20px; }
      @media (max-width: 720px) {
        .services-link_title {
          font-size: 16px; } }
    .services-link_text {
      padding: 0 23%; }
    .services-link:before {
      content: '';
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #9f9acf;
      transform: scale(0);
      transition-property: transform;
      transition-duration: 0.3s;
      transition-timing-function: ease-out; }
    .services-link:hover {
      text-decoration: none;
      color: #665f60; }
    .services-link:hover:before {
      transform: scale(1); }

.works {
  background: url(../images/background/slider-bg.jpg) no-repeat top center;
  background-size: cover;
  text-align: center;
  padding: 50px 0 60px; }
  .works_img {
    margin: 0 auto; }
  .works .subtitle {
    margin: 40px 0 70px; }
  .works .slick-prev,
  .works .slick-next {
    transform: translateY(-100%);
    cursor: pointer;
    z-index: 1; }
  .works .slick-prev {
    position: absolute;
    top: 50%;
    left: 120px; }
    @media (max-width: 1024px) {
      .works .slick-prev {
        left: 20px; } }
    @media (max-width: 768px) {
      .works .slick-prev {
        z-index: -1; } }
  .works .slick-next {
    position: absolute;
    top: 50%;
    right: 120px; }
    @media (max-width: 1024px) {
      .works .slick-next {
        right: 20px; } }
    @media (max-width: 768px) {
      .works .slick-next {
        z-index: -1; } }
  .works .slick-dots {
    margin: 45px 0 50px;
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .works .slick-dots li {
      margin: 5px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      border: 2px solid #fefefb; }
      .works .slick-dots li button {
        display: none; }
  .works li.slick-active {
    background: #fefefb; }

.team {
  background-color: #ebebeb;
  padding: 50px 0 100px;
  text-align: center; }
  @media (max-width: 720px) {
    .team {
      padding: 15px 0;
      font-size: 12px; } }
  .team .subtitle {
    margin-top: 35px; }
  .team-slide {
    padding-top: 190px; }
    @media (max-width: 720px) {
      .team-slide {
        padding-top: 150px; } }
    .team-slide_wrapper {
      background: #fff;
      position: relative;
      padding-top: 165px;
      max-width: 350px;
      margin: 0 auto; }
    .team-slide_photo {
      position: absolute;
      top: -40%;
      transform: translateX(15%);
      border: 13px solid #ebebeb;
      border-radius: 50%;
      z-index: 1; }
    .team-slide_name {
      font: 700 24px "ProximaNova", sans-serif;
      color: #9f9acf;
      text-transform: uppercase; }
      @media (max-width: 720px) {
        .team-slide_name {
          font-size: 16px; } }
    .team-slide_postition {
      margin: 35px 0 45px; }
    .team-slide_socials {
      background: #9f9acf;
      display: flex;
      justify-content: center;
      padding: 15px 0; }
    .team-slide_social {
      margin-left: 25px; }
      .team-slide_social:first-of-type {
        margin-left: 0; }
  .team .slick-p,
  .team .slick-n {
    transform: translateY(-100%);
    cursor: pointer;
    z-index: 1; }
  .team .slick-p {
    position: absolute;
    top: 50%;
    left: -120px; }
    @media (max-width: 1024px) {
      .team .slick-p {
        left: 20px; } }
    @media (max-width: 540px) {
      .team .slick-p {
        z-index: -1; } }
  .team .slick-n {
    position: absolute;
    top: 50%;
    right: -120px; }
    @media (max-width: 1024px) {
      .team .slick-n {
        right: 20px; } }
    @media (max-width: 540px) {
      .team .slick-n {
        z-index: -1; } }

.contact {
  position: relative; }
  .contact-wrapper {
    position: absolute;
    top: 55px;
    left: 50%;
    text-align: center;
    transform: translateX(-50%); }
    @media (max-width: 720px) {
      .contact-wrapper {
        top: 10px; } }
  .contact .subtitle {
    margin: 25px 0 270px; }
    @media (max-width: 960px) {
      .contact .subtitle {
        margin-bottom: 100px; } }
    @media (max-width: 720px) {
      .contact .subtitle {
        margin: 15px 0; } }
  .contact-form {
    display: block;
    width: 860px;
    text-align: center; }
    @media (max-width: 960px) {
      .contact-form {
        width: 500px; } }
    @media (max-width: 720px) {
      .contact-form {
        width: 300px; } }
    .contact-form__row {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap; }
    .contact-form__input {
      width: 48%;
      font-size: 18px;
      font-style: italic;
      margin-bottom: 25px;
      border-radius: 4px;
      background-color: rgba(235, 235, 235, 0.8);
      height: 56px;
      line-height: 56px;
      border: none;
      padding-left: 20px; }
      @media (max-width: 720px) {
        .contact-form__input {
          width: 100%; } }
      .contact-form__input::placeholder {
        color: #fff; }
      .contact-form__input:focus {
        outline: 1px solid #9f9acf; }
      @media (max-width: 720px) {
        .contact-form__input {
          margin-bottom: 10px;
          font-size: 12px; } }
    .contact-form__textarea {
      resize: none;
      overflow: hidden;
      font-size: 18px;
      border-radius: 4px;
      line-height: 49px;
      font-style: italic;
      background-color: rgba(235, 235, 235, 0.8);
      border: none;
      padding-left: 20px;
      display: block;
      width: 100%; }
      .contact-form__textarea::placeholder {
        color: #fff; }
      .contact-form__textarea:focus {
        outline: 1px solid #9f9acf; }
      @media (max-width: 720px) {
        .contact-form__textarea {
          margin-bottom: 10px;
          font-size: 12px; } }
    .contact-form__btn {
      font: 700 20px/1 "ProximaNova", sans-serif;
      border: none;
      border-radius: 4px;
      background-color: #9f9acf;
      color: #FFF;
      text-transform: uppercase;
      padding: 23px 70px;
      box-shadow: 0 4px 0px 0px #8884B3;
      margin-top: 55px;
      cursor: pointer; }
      .contact-form__btn:hover {
        transform: translateY(4px);
        box-shadow: none; }
      @media (max-width: 720px) {
        .contact-form__btn {
          margin-top: 10px; } }

.footer {
  background: #9f9acf;
  padding: 80px 0; }
  @media (max-width: 720px) {
    .footer {
      padding: 20px 0; } }
  .footer_text {
    text-align: center; }
    @media (max-width: 1024px) {
      .footer_text {
        margin-bottom: 30px; } }
  .footer_socials {
    display: flex;
    justify-content: space-between; }
    @media (max-width: 960px) {
      .footer_socials {
        justify-content: center; } }
    @media (max-width: 720px) {
      .footer_socials {
        justify-content: center; } }
  .footer_social {
    margin-right: 25px; }
