//fonts
$font-main: 'PT Sans', sans-serif;
$font-title: 'ProximaNova', sans-serif;


//colors
$text-white: #fefefb;
$text-grey: #665f60;
$background-white: #ebebeb;
$background-grey: #dbdbdb;
$purple: #9f9acf;
