.about {
	background-color: $background-white;
	padding-top: 125px;
	text-align: center;

	@media (max-width: 768px){
		padding-top: 0;
	}

	&_profile-wrapper {
		background: url(../images/background/profile-bg.jpg) no-repeat top center;
		background-size: cover; 
		padding: 75px 0 300px;
		text-align: center;

		@media (max-width: 768px) {
			padding: 35px;
			margin-bottom: 35px;
		}
	}

	&-icon {
		margin: 0 0 45px;
	}

	&_text-wrapper {
		text-align: left;
		margin-bottom: 100px;
	}

	&-text {
		margin-bottom: 30px;
	}
}